* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

main {
	min-height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
}

#head {
	background-color: black;
	height: 40px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid white;
	box-shadow: 0px 0px 15px 0.5px white;
	transition: 1s;
}

#hed {
	font-family: 'Kanit', sans-serif;
	padding: 40px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#hed:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	color: #B0C4DE;
}

footer {
	font-family: 'Kanit', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	width: 100%;
	height: 20px;
}

.container {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
	padding: 90px;
}

.card {
	max-height: 100%;
	max-width: 100%;
	width: 300px;
	height: 300px;
	border: 0.5px solid white;
	transition: 1s;
	filter: blur(3px);
}

.card:hover {
	width: 400px;
	height: 400px;
	box-shadow: 0px 0px 15px 0.5px white;
	filter: blur(0px);
}

P {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-size: 30px;
	transition: 1s;
}

p:hover {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	vertical-align: middle;
	line-height: 390px;
	font-size: 30px;
	transition: 1s;
	background-image: url('img.png');
	background-size: cover;
	height: 100%;
}

#sil {
	text-decoration: none;
	color: white;
}

#er {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-size: 30px;
	transition: 1s;
}

#er:hover {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	vertical-align: middle;
	line-height: 390px;
	font-size: 30px;
	transition: 1s;
	background-image: url('error.gif');
	background-size: cover;
	height: 100%;
}